/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-font-color);
  font-family: var(--main-font);
  background-color: var(--background-fill-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-content-font-weight);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-inline: auto;
  margin-block-start: 100px;
  outline: 2px solid var(--main-font-color);
  color: var(--main-font-color);
  background: var(--background-fill-color);
  max-inline-size: clamp(375px, 50vw, 700px);
}

.header__logo {
  margin-block-start: clamp(120px, 13vw, 140px);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(49px, 5vw, 65px);
  font-style: normal;
}

.header__title {
  margin-block-start: clamp(3px, 0.3vh, 5px);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(14px, 2.4vw, 23px);
  font-style: normal;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block-end: 20px;
}
.theme-menu__list {
  position: relative;
  display: grid;
  gap: 10px;
  padding-inline-start: 20px;
}
.theme-menu__item {
  justify-self: self-start;
  align-self: self-start;
}
.theme-menu__button {
  justify-self: center;
  align-self: center;
  border: none;
  outline-style: none;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  animation: change-color-choosen-theme 0.3s ease backwards;
  pointer-events: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--main-font-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 1px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
.theme-menu__button:focus-visible {
  opacity: 60%;
}
.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:disabled::after {
  content: "▶";
  position: absolute;
  animation: move-arrow-choosen-theme 0.8s ease-in-out infinite alternate;
  inset-inline-start: 6px;
}

.main__content {
  display: grid;
  margin-inline: auto;
  margin-block-start: 103px;
  max-inline-size: clamp(375px, 50vw, 700px);
}

.cards__list {
  display: grid;
  gap: 49.8px;
}

.cards__list__item {
  border: 2px solid var(--main-font-color);
  background: var(--background-fill-color);
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  font-variation-settings: "wght" var(--card-header-font-weight);
}

.wrapper__label__n__image {
  position: relative;
  display: flex;
}

.label__on__image {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow: none;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--mix-blend-outside-color)) or
    (-webkit-text-stroke: 1px var(--mix-blend-outside-color))
) {
  .label__on__image {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--mix-blend-outside-color);
    text-stroke: 1px var(--mix-blend-outside-color);
  }
}

.card__image {
  flex: 1;
  max-width: 100%;
  border-top: 2px solid var(--main-font-color);
  border-bottom: 2px solid var(--main-font-color);
  min-inline-size: clamp(371px, 50vw, 696px);
  min-block-size: clamp(371px, 50vw, 700px);
  aspect-ratio: 1/1;
}

.card__text__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px solid var(--main-font-color);
  padding: 25px 25.2px;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.card__like__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-inline-end: 24px;
  margin-block-end: 25px;
}

.card__icon-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  transition: border 0.3s ease;
  cursor: pointer;
  block-size: 38px;
  inline-size: 43px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-font-color);
}

.like-icon {
  position: relative;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-font-color);
  padding: 8px 0;
  min-inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--mix-blend-inside-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save__button {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  margin-block-start: 52px;
  margin-block-end: 103px;
  border: 2px solid var(--main-font-color);
  padding: 15.5px 20px;
  background-color: var(--background-fill-color);
}

.button__common {
  box-shadow: 2px 2px 0 0 transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__common:focus {
  outline: none;
}

.button__common:focus-visible {
  box-shadow: 2px 2px 0 0 currentColor;
}

.button__common::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--mix-blend-inside-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button__common:hover::after {
  transform: scaleX(1);
}

.dialog__content[open] {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 28px;
  outline: 1px solid var(--main-font-color);
  color: var(--main-font-color);
  background-color: var(--background-fill-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: clamp(346px, 36.97vw, 355px);
  /*
  opacity: 1%;
  */
}

.dialog__image__n__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
}

.dialog__text {
  margin-block-start: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__image {
  flex-shrink: 0;
  inline-size: 41px;
  block-size: 63px;
}

.floppy__image {
  color: var(--main-font-color);
  block-size: 21px;
  inline-size: 21px;
}

.dialog__button {
  position: relative;
  min-width: 100%;
  border: 2px solid var(--main-font-color);
  padding: 7.5px 20px;
  background-color: var(--background-fill-color);
}

.dialog__button .button__text {
  text-transform: uppercase;
}

.dialog__content:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__content::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.filter__sepia__light {
  filter: sepia(20%);
}

.filter__contrast__light {
  filter: contrast(50%) sepia(70%);
}

.filter__saturate__light {
  filter: saturate(50%);
}

.filter__blur__light {
  filter: blur(0.5px);
}
.filter__hue-rotate__light {
  filter: hue-rotate(90deg);
}

.filter__grayscale__light {
  filter: grayscale(30%);
}

.filter__invert__light {
  filter: invert(3%);
}

@media (width <= 376px) {
  .header {
    gap: 21px;
  }

  .theme-light .card__text__content {
    letter-spacing: 0.1px;
    padding: 25px 23.8px;
  }

  .theme-dark .card__text__content {
    letter-spacing: 0;
    padding: 25px 27.4px;
  }

  .cards__list {
    gap: 52.8px;
  }

  .label__on__image {
    top: 22px;
    right: 11px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
  }

  .save__button .floppy__image {
    block-size: 29px;
    inline-size: 29px;
  }

  .dialog__content[open] {
    padding: 30px 40px;
  }
}
