/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-content-font-weight);
  color: var(--main-font-color);
}

.header {
  background: var(--background-fill-color);
  outline: 2px solid var(--main-font-color);
  color: var(--main-font-color);
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  min-height: clamp(327px, 25.56vh, 368px);
  margin-block-start: 100px;
  margin-inline: auto;
  max-inline-size: clamp(375px, 50vw, 700px);
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(49px, 5vw, 65px);
  margin-block-start: clamp(120px, 15vh, 141px);
}

.header__subtitle {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 2.4vw, 23px);
  text-transform: uppercase;
  margin-block-start: clamp (3px, 0.3vh, 5px);
}

.header__theme-menu {
  margin-block-end: 20px;
}
.theme-menu__list {
  display: grid;
  gap: 10px;
  position: relative;
  padding-inline-start: 20px;
}
.theme-menu__item {
  justify-self: self-start;
  align-self: self-start;
}
.theme-menu__button {
  font-family: var(--accent-font);
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  outline-style: none;
  border: none;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

.theme-menu__button:disabled {
  animation: change-color-choosen-theme 0.3s ease backwards;
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background-color: var(--main-font-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  block-size: 1px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
.theme-menu__button:focus-visible {
  opacity: 60%;
}
.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  opacity: 60%;
}

@keyframes chosing-outline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes change-color-choosen-theme {
  from {
    opacity: 100%;
  }
  to {
    opacity: 60%;
  }
}

.theme-menu__button:disabled::after {
  content: "▶";
  position: absolute;
  inset-inline-start: 6px;
  animation: move-arrow-choosen-theme 0.8s ease-in-out infinite alternate;
}

@keyframes move-arrow-choosen-theme {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

.main__content {
  margin-block-start: 100px;
  margin-inline: auto;
  max-inline-size: clamp(375px, 50vw, 700px);
}

.cards__list {
  display: grid;
  gap: 48px;
}

.cards__list__item {
  background: var(--background-fill-color);
  border: 2px solid var(--main-font-color);
}

.card__header {
  font-style: normal;
  font-variation-settings: "wght" var(--card-header-font-weight);
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
}

.wrapper__label__n__image {
  position: relative;
  display: flex;
}

.label__on__image {
  font-family: var(--accent-font);
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-size: 14px;
  font-weight: 400;
}

@supports (
  (text-stroke: 1px var(--mix-blend-outside-color)) or
    (-webkit-text-stroke: 1px var(--mix-blend-outside-color))
) {
  .label__on__image {
    -webkit-text-stroke: 1px var(--mix-blend-outside-color);
    text-stroke: 1px var(--mix-blend-outside-color);
    text-shadow: none;
  }
}

.card__image {
  border-top: 2px solid var(--main-font-color);
  border-bottom: 2px solid var(--main-font-color);
  max-width: 100%;
  min-height: 100%;
  flex: 1;
}

.card__text__content {
  padding: 0 24.47px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin-block-start: 25px;
}

.card__like__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-block-start: 27px;
  margin-block-end: 25px;
  margin-inline-end: 28px;
}

.card__icon-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  inline-size: 43px;
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-font-color);
  transition: border 0.3s ease;
}

.like-icon {
  position: relative;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-is-liked-scale 0.3s 0.1s ease-in backwards;
}

@keyframes heart-is-liked-scale {
  from {
    transform: scale(1);
  }

  95% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.like-icon:hover .core {
  transition: fill 0.5s 0.1s ease;
  fill: var(--heart-core-color-hover);
}

.like-icon:hover .main-body {
  transition: fill 0.5s 0.2s ease;
  fill: var(--heart-core-color-hover);
}

.like-icon:active .core,
.like-icon:active .main-body {
  transition: fill 0.5s ease;
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s ease;
  fill: var(--heart-main-body-color);
}
.like-icon .contour {
  transition: fill 0.1s linear;
  fill: var(--heart-contour-color);
}
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .sparks {
  animation: heart-is-liked-opacity 0.3s 0.3s ease-in;
}

@keyframes heart-is-liked-opacity {
  from {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  85% {
    opacity: 0.3;
  }

  95% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-font-color);
  padding: 8px 33px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: var(--mix-blend-inside-color);
  z-index: 1;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-block-start: 52px;
  margin-block-end: 103px;
}

.footer__button {
  background-color: var(--background-fill-color);
  padding: 15.5px 20px;
  border: 2px solid var(--main-font-color);
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.floppy__image {
  block-size: 20px;
  inline-size: 20px;
  fill: var(--mix-blend-inside-color);
}

.button__common:focus {
  outline: none;
}

.button__common:focus-visible {
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 0 0 currentColor;
}

.button__common::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--mix-blend-inside-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button__common:hover::after {
  transform: scaleX(1);
}

.dialog__content[open] {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  outline: 2px solid var(--main-font-color);
  max-inline-size: clamp(346px, 36.97vw, 355px);
  transition: opacity 0.3s ease-in-out;
  padding: 30px;
  gap: 30px;
  background-color: var(--background-fill-color);
  color: var(--main-font-color);
}

.dialog__image__n__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
}

.dialog__text {
  font-size: 15px;
  line-height: 21px;
  margin-block-start: 0;
}

.dialog__image {
  flex-shrink: 0;
  margin-block-start: 8px;
  inline-size: 55px;
  block-size: 55px;
}

.dialog__button {
  background-color: var(--background-fill-color);
  padding: 7.5px 20px;
  border: 2px solid var(--main-font-color);
  position: relative;
  min-width: 100%;
}

.dialog__content:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__content::backdrop {
  background-color: #00000091;
}

.filter__sepia__light {
  filter: sepia(20%);
}

.filter__contrast__light {
  filter: contrast(50%) sepia(70%);
}

.filter__saturate__light {
  filter: saturate(50%);
}

.filter__blur__light {
  filter: blur(0.5px);
}
.filter__hue-rotate__light {
  filter: hue-rotate(90deg);
}

.filter__grayscale__light {
  filter: grayscale(30%);
}

.filter__invert__light {
  filter: invert(3%);
}

@media (width <= 376px) {
  .footer__button {
    display: flex;
    flex-direction: column;
  }

  .footer__button .floppy__image {
    block-size: 29px;
    inline-size: 29px;
  }

  .dialog__content[open] {
    opacity: 50%;
    padding: 29px 47px;
  }
}
