/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background-pixel-content-color: #000000;
    --background-top-gradient-color: #007f0c;
    --background-bottom-gradient-color: #004306;
    --main-font-color: #00cc14;
    --background-fill-color: var(--background-pixel-content-color);
    --main-content-font-weight: 465;
    --card-header-font-weight: 785;
    --mix-blend-inside-color: var(--main-font-color);
    --mix-blend-outside-color: var(--background-fill-color);
  }

}

:root.theme-dark {
  --background-pixel-content-color: #000000;
  --background-top-gradient-color: #007f0c;
  --background-bottom-gradient-color: #004306;
  --main-font-color: #00cc14;
  --background-fill-color: var(--background-pixel-content-color);
  --main-content-font-weight: 465;
  --card-header-font-weight: 785;
  --mix-blend-inside-color: var(--main-font-color);
  --mix-blend-outside-color: var(--background-fill-color);
}


@media (prefers-color-scheme: light) {
  :root {
    --background-pixel-content-color: #d3d3d3;
    --background-top-gradient-color: #e7e7e7;
    --background-bottom-gradient-color: #1a1a1a;
    --main-font-color: #000000;
    --background-fill-color: #ffffff;
    --main-content-font-weight: 400;
    --card-header-font-weight: 700;
    --mix-blend-inside-color: var(--background-fill-color);
    --mix-blend-outside-color: var(--background-fill-color);
  }

}

:root.theme-light {
  --background-pixel-content-color: #d3d3d3;
  --background-top-gradient-color: #e7e7e7;
  --background-bottom-gradient-color: #1a1a1a;
  --main-font-color: #000000;
  --background-fill-color: #ffffff;
  --main-content-font-weight: 400;
  --card-header-font-weight: 700;
  --mix-blend-inside-color: var(--background-fill-color);
  --mix-blend-outside-color: var(--background-fill-color);
}


