/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  /*background colors*/
  --background-pixel-content-color: #d3d3d3;
  --background-empty-pixel-color: #00000000;
  --background-top-gradient-color: #e7e7e7;
  --background-bottom-gradient-color: #1a1a1a;
  --background-image: repeating-linear-gradient(
      to left,
      var(--background-pixel-content-color) 0 2px,
      var(--background-empty-pixel-color) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-pixel-content-color) 0 2px,
      var(--background-empty-pixel-color) 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--background-top-gradient-color),
      var(--background-bottom-gradient-color)
    );
}
